*.swp
package-lock.json
__pycache__
.pytest_cache
.venv
*.egg-info

# CDK asset staging directory
.cdk.staging
cdk.out

.env
.env.local
.env.prod

es_notifier/es_notifier_api_function_layer/python/*
!es_notifier/es_notifier_api_function_layer/python/README.md